@mixin flexbox(){
  display: flex;
}

.main {
  background: #cececc;
  .items {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 0 0 0;
    &__item {
      flex: 0 0 30%;
      border: 1px solid #ff6dae;
      text-align: center;
      margin: 15px 0;
      overflow: hidden;
      position: relative;
      min-height: 150px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      @media (max-width: 770px) {
        flex: 0 0 45%;
      }
      @media (max-width:500px) {
        flex: 0 0 100%;
      }
    }
  }
}
