@mixin flexbox(){
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__burger {
    display: none;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #424242;
    z-index: 3;
  }
  &__body {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    height: 85px;
    position: relative;
  }
  &__list {
    @include flexbox();
    list-style: none;
    position: relative;
    z-index: 3;
    li {
      padding: 0 20px;
      &:first-child {
        padding: 0 20px 0 0;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #c9c9c9;
    &:hover {
      color: #65abab;
    }
  }
  @media (max-width: 770px) {
    &__body {
      height: 60px;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      &::before, &::after, span {
        content: '';
        background: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
      }
      &::before, &::after {
        transition: .3s ease;
      }
      &::after {
        top: 0;
      }
      &::before {
        bottom: 0;
      }
      span {
        background: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
      }
      &.active {
        &::before, &::after {
          transition: .3s ease;
        }
        span {
          display: none;
        }
        &::before {
          top: 9px;
          transform: rotate(45deg);
        }
        &::after {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #65abab;
      z-index: 2;
      padding: 70px 0 0 0;
      display: block;
      transform: translateY(-100%);
      transition: linear .3s;
      li {
        padding: 0;
        margin: 0 0 30px 30px;
        a {
          color: white;
          transition-duration: .2s;
          &:hover {
            color: #313131;
          }
        }
      }
    }
    &__list.active {
      transform: translateY(0);
    }
  }

}

.subscribe {
  z-index: 3;
  &__link {
    text-decoration: none;
    color: #ffffff;
    background: #65abab;
    padding: 15px 30px;
    border-radius: 30px;
    transition: ease .2s;
    text-transform: capitalize;
    &:hover {
      color: #313131;
    }
  }
}