@font-face {
  font-family: 'Lato';
  src: url('./../fonts/Lato/LatoLight.eot');
  src: local('☺'), url('./../fonts/Lato/LatoLight.woff') format('woff'), url('./../fonts/Lato/LatoLight.ttf') format('truetype'), url('./../fonts/Lato/LatoLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "./normalize.scss";



h1 {
  color: #6d6d6d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  min-height: 85vh;
}